<header id="top" class="page-header-container">
  <div class="w-container large">
    <div class="breadcrumb-text">
      <%= link_to "Home", root_path %> /
    </div>
    <h1 class="page-header-title">About Us</h1>
    <div class="page-header-subtitle">Il Circolo del Design è uno spazio aperto, inclusivo e partecipato.</div>
  </div>
</header>
