<header id="top" class="page-header-container bg-orange">
  <div class="w-container large">
    <div class="breadcrumb-text text-white">
      <%= link_to "Home", root_path %> /
    </div>
    <h1 class="page-header-title">Progetti Culturali</h1>
    <div class="page-header-subtitle">In sinergia con i progetti d'impatto, il Circolo del Design lavora alla sua programmazione culturale non solo con un fitto calendario di attività, ma anche con lo sviluppo di Progetti culturali.</div>
  </div>
</header>
