  <div data-collapse="none" data-animation="default" data-duration="400" data-w-id="e1ce827e-4e2b-205f-0506-831e049377c3" class="navbar-inner-page w-nav">
    <%= link_to root_path, {
      'data-w-id' => 'f8f6fcc8-1ac5-1308-4e0f-52f0c4ef5dc2',
      class: 'brand w-nav-brand w--current'
    } do %>
      <%= image_tag "LOGO_CdD.svg", alt: "Circolo del Design", width:"151", class:"image" %>
    <% end %>
    <nav role="navigation" data-w-id="e1ce827e-4e2b-205f-0506-831e049377c6" class="nav-menu-a w-nav-menu">
      <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377c7" class="menu-line"></div>
      <div class="menu-text-a">MENU</div>
      <div class="menu-line-bottom"></div>
    </nav>
    <div class="menu-container menu-container-a">
      <div class="menu-grid-container">
        <div class="menu-lang-box div-block-34">
          <a href="#" class="link-lang-container active-lang w-inline-block">
            <div class="menu-lang-link active-lang">ITA</div>
          </a>
          <a href="#" class="link-lang-container w-inline-block">
            <div class="menu-lang-link">ENG</div>
          </a>
        </div>
        <div class="menu-list-container">
          <div data-w-id="9165342c-fccd-4922-3334-e79e84f721bd" class="link-menu-container link-a-2">
            <div class="menu-main-link">About us</div>
            <div class="menu-toggle-icon-contianer">
              <div class="div-block-27 menu-toggle-line"></div>
              <div class="menu-icon-line-anim"></div>
            </div>
            <div class="menu-sub-links-container">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>IL CIRCOLO</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>TEAM</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SOSTENITORI</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>STORE</div>
              </a>
            </div>
          </div>
          <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377d8" class="link-menu-container link-a-2">
            <div class="menu-main-link">WHAT’S ON</div>
            <div class="menu-toggle-icon-contianer">
              <div class="div-block-27 menu-toggle-line"></div>
              <div class="menu-icon-line-anim"></div>
            </div>
            <div class="menu-sub-links-container">
              <%= link_to whats_on_calendario_path, class: "menu-sub-link w-inline-block" do %>
                <div>CALENDARIO</div>
              <% end %>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>IMPRESSUM DEL MESE</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>ARCHIVIO</div>
              </a>
            </div>
          </div>
          <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377e8" class="link-menu-container link-a-3">
            <div class="menu-main-link">EDUCATIONAL</div>
            <div class="menu-toggle-icon-contianer">
              <div class="div-block-27 menu-toggle-line"></div>
              <div class="menu-icon-line-anim"></div>
            </div>
            <div class="menu-sub-links-container">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>WORKSHOP</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>KIDS</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SCUOLE</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>FOAT ARCHITETTI</div>
              </a>
            </div>
          </div>
          <div data-w-id="e1ce827e-4e2b-205f-0506-831e049377fb" class="link-menu-container link-a-4">
            <div class="menu-main-link">Progetti Speciali</div>
            <div class="menu-toggle-icon-contianer">
              <div class="div-block-27 menu-toggle-line"></div>
              <div class="menu-icon-line-anim"></div>
            </div>
            <div class="menu-sub-links-container">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>ASK TO DESIGN</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>CONTEMPORARY</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>TJAARDA</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>TORINO 2020</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>UNESCO 2019</div>
              </a>
            </div>
          </div>
          <div data-w-id="dfe87399-d26b-4e20-45a3-aebdb3afb8a7" class="link-menu-container link-a-4">
            <div class="menu-main-link">Servizi</div>
            <div class="menu-toggle-icon-contianer">
              <div class="div-block-27 menu-toggle-line"></div>
              <div class="menu-icon-line-anim"></div>
            </div>
            <div class="menu-sub-links-container">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SPAZI</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>BIBLIOTECA</div>
              </a>
            </div>
          </div>
          <a href="#" class="link-menu-container link-a-5 w-inline-block">
            <div class="menu-main-link">CONTATTI</div>
          </a>
        </div>
        <div class="line-menu-a-1"></div>
        <div class="line-menu-a-2"></div>
        <div class="line-menu-a-3"></div>
        <div class="menu-right-div">
          <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937810" href="#" class="menu-member-container w-inline-block">
            <div data-w-id="e1ce827e-4e2b-205f-0506-831e04937811" class="menu-member-content">
              <div>Become a Member</div>
              <div class="arrow-right member-arrow">
                <div class="member-arrow-line"></div>
                <div class="arrow-point-right member-arrow">
                  <div class="div-block-3 bold-line"></div>
                  <div class="div-block-3 arrow-point-lower bold-line"></div>
                </div>
              </div>
            </div>
          </a>
          <div class="line-menu-a-4"></div>
          <div class="menu-info-box">
            <div class="menu-info-text"><strong>Via San Francesco Da Paola 17<br></strong>10123 Torino TO Italia<br>info@circolodeldesign.it<br><br><strong>ORARI DI APERTURA<br></strong>Martedì, giovedì, venerdì / 13.30 – 19.30<br>Mercoledì / 13.30 – 20<br>Sabato / 11 – 19.30<br><br>Domenica e lunedì / chiuso</div>
          </div>
          <div class="line-menu-a-5"></div>
          <div class="menu-social-box">
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e0493782f" href="#" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Facebook</div>
                <div class="menu-social-link">Facebook</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937832" href="#" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Twitter</div>
                <div class="menu-social-link">Twitter</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937835" href="#" class="link-social-container last-link-social w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Instagram</div>
                <div class="menu-social-link">Instagram</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-circle-bg"></div>
    <a data-w-id="8104def8-98e2-3317-9d6a-7c46fa2c56a3" href="#" class="membership-link w-inline-block">
      <div class="text-block-11">Become a member</div>
    </a>
  </div>
