<div class="menu-container menu-container-a">
      <div class="menu-grid-container">
        <div class="menu-lang-box div-block-34">
          <a href="#" class="link-lang-container active-lang w-inline-block">
            <div class="menu-lang-link active-lang">ITA</div>
          </a>
          <a href="#" class="link-lang-container w-inline-block">
            <div class="menu-lang-link">ENG</div>
          </a>
        </div>
        <div class="menu-list-container">
          <div data-w-id="" class="link-menu-container link-a-2">
            <div class="menu-main-link">
              <h2>About us</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>IL CIRCOLO</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>TEAM</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SOSTENITORI</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>STORE</div>
              </a>
            </div>
          </div>
          <div data-w-id="" class="link-menu-container link-a-2">
            <div class="menu-main-link">
              <h2>WHAT’S ON</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <%= link_to whats_on_calendario_path, class: "menu-sub-link w-inline-block" do %>
                <div>CALENDARIO</div>
              <% end %>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>IMPRESSUM DEL MESE</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>ARCHIVIO</div>
              </a>
            </div>
          </div>
          <!-- <div data-w-id="" class="link-menu-container link-a-3">
            <div class="menu-main-link">
              <h2>EDUCATIONAL</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>WORKSHOP</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>KIDS</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SCUOLE</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>FOAT ARCHITETTI</div>
              </a>
            </div>
          </div> -->
          <div data-w-id="" class="link-menu-container link-a-4">
            <div class="menu-main-link">
              <h2>Progetti Speciali</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>ASK TO DESIGN</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>Video Torino Creative City Unesco</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>Interaction 20</div>
              </a>
            </div>
          </div>
          <div data-w-id="" class="link-menu-container link-a-4">
            <div class="menu-main-link">
              <h2>Servizi</h2>
              <div class="menu-toggle-icon-contianer">
                <div class="div-block-27 menu-toggle-line"></div>
                <div class="menu-icon-line-anim"></div>
              </div>
            </div>
            <div class="menu-sub-links-container" style="display: none;">
              <a href="#" class="menu-sub-link w-inline-block">
                <div>SPAZI</div>
              </a>
              <a href="#" class="menu-sub-link w-inline-block">
                <div>BIBLIOTECA</div>
              </a>
            </div>
          </div>
          <%= link_to contatti_path, class: "link-menu-container link-a-5 w-inline-block" do %>
            <div class="menu-main-link">CONTATTI</div>
          <% end %>
        </div>
        <div class="line-menu-a-1"></div>
        <div class="line-menu-a-2"></div>
        <div class="line-menu-a-3"></div>
        <div class="menu-right-div">
          <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937810" href="#" class="menu-member-container w-inline-block">
            <div data-w-id="e1ce827e-4e2b-205f-0506-831e04937811" class="menu-member-content">
              <div>Become a Member</div>
              <div class="arrow-right member-arrow">
                <div class="member-arrow-line"></div>
                <div class="arrow-point-right member-arrow">
                  <div class="div-block-3 bold-line"></div>
                  <div class="div-block-3 arrow-point-lower bold-line"></div>
                </div>
              </div>
            </div>
          </a>
          <div class="line-menu-a-4"></div>
          <div class="menu-info-box">
            <div class="menu-info-text">
              <strong>Via San Francesco Da Paola 17<br>
            </strong>10123 Torino TO Italia<br>
            info@circolodeldesign.it<br><br>
            <strong>ORARI</strong><br>
            Martedì, giovedì, venerdì, sabato / 13.30 – 19<br>
            Mercoledì / 13.30 – 20</div>
          </div>
          <div class="line-menu-a-5"></div>
          <div class="menu-social-box">
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e0493782f" href="#" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Facebook</div>
                <div class="menu-social-link">Facebook</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937832" href="#" class="link-social-container w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Twitter</div>
                <div class="menu-social-link">Twitter</div>
              </div>
            </a>
            <a data-w-id="e1ce827e-4e2b-205f-0506-831e04937835" href="#" class="link-social-container last-link-social w-inline-block">
              <div class="word-slider">
                <div class="menu-social-link">Instagram</div>
                <div class="menu-social-link">Instagram</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
