<footer class="section-a-6-footer">
  <div>
    <div class="footer-sostenitori-container">
      <%= link_to "http://www.comune.torino.it/", target: "_blank", class: "w-inline-block text-center" do %>
      <p>Welcome to the Post-Analog Condition* è sostenuto da</p>
      <%= image_tag "partner/CittaDiTorino-white.png", alt: "Città di Torino", class: "footer-sostenitore-img" %>
      <% end %>
    </div>
    <div class="footer-divider"></div>
  </div>
</footer>
