<header id="top" class="page-header-container bg-progetti-impatto">
  <div class="w-container large">
    <div class="breadcrumb-text text-white">
      <%= link_to "Home", root_path %> /
    </div>
    <h1 class="page-header-title">Progetti d'Impatto</h1>
    <div class="page-header-subtitle">In sinergia con la programmazione culturale, il Circolo del Design lavora per lo sviluppo di Progetti d’impatto con l’ambizione di incidere concretamente sulla comunità e sul territorio in cui opera attraverso gli strumenti del design.
      <br/><br/>
      L’obiettivo è generare progettualità capacitanti, in grado di rispondere puntualmente a bisogni di innovazione sociale e di empowerment del sistema produttivo, avviando collaborazioni specifiche con la pubblica amministrazione, gli enti e i professionisti, in una dimensione locale e sovralocale.</div>
  </div>
</header>
