<header id="top" class="page-header-container progetti">
  <div class="w-container large">
    <div class="breadcrumb-text">
      <%= link_to "Home", root_path %> /
    </div>
    <h1 class="page-header-title">Progetti Speciali</h1>
    <div class="page-header-subtitle">Al fianco della programmazione, il Circolo del Design lavora per lo sviluppo di Progetti Speciali con l’ambizione di incidere concretamente su ambiti specifici.</div>
  </div>
</header>
