<div class="wpac_support_banner">
  <div class="support_content w-container large">
    <div class="wpac_support_box">
      <div class="support_text">
        <h4>SHOW US YOUR LOVE!</h4>
        <p>Online e offline, ogni giorno progettiamo contenuti che sappiano ispirarci e lo facciamo collaborando con professionisti, studenti e visionari appassionati e curiosi.</p>
        <p>Continueremo a farlo anche grazie a tutte quelle persone che hanno scelto di sostenere il Circolo del Design attraverso le loro donazioni.<br>
        Proprio <strong>qui</strong>, proprio <strong>adesso</strong>.</p>
      </div>
      <%= link_to "https://tag.satispay.com/CircolodelDesign", {
        class: "btn_white",
        target: :_blank
      } do %>
        <div class="heart_icon">
          <svg width="22" height="17" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.0881 1.77779C23.8772 -0.932431 19.1019 -0.44494 16.1547 2.56706L15.0004 3.74516L13.8462 2.56706C10.9048 -0.44494 6.12365 -0.932431 2.91277 1.77779C-0.766844 4.88844 -0.9602 10.4714 2.33271 13.8432L13.6704 25.4385C14.4028 26.1872 15.5922 26.1872 16.3246 25.4385L27.6623 13.8432C30.9611 10.4714 30.7677 4.88844 27.0881 1.77779Z" fill="#E0354C"/>
          </svg>
        </div>
        <p>Sostienici</p>
      <% end %>
    </div>
  </div>
</div>
