<div data-collapse="none" data-animation="default" data-duration="400" class="navbar-inner-page w-nav">
  <%= link_to root_path, class: "brand w-nav-brand" do %>
    <%= image_tag "LOGO_CdD.svg", alt: "Circolo del Design", width: "151", class: "image" %>
  <% end %>
</div>
  <div data-w-id="d9606d54-5066-d045-659c-1c2fc8596509" class="event-popup-details-container">
    <div class="event-popup-content-container w-container">
      <h1 class="event-popup-title">Missing Out</h1>
      <div class="event-popup-right-info">
        <div>31 gennaio – 1 febbraio</div>
        <div class="div-block-43 popup"></div>
        <div class="event-focus-bar-price">Gratuito</div>
      </div>
    </div>
  </div>
  <header id="top" class="event-header-container">
    <div class="event-header-top-info">
      <div class="container-5 w-container">
        <div class="event-header-info-text">
          <div class="event-header-label-container">
            <div class="event-label evento">Evento</div>
          </div>
          <h1 class="event-header-title"><strong>Missing Out</strong></h1>
          <div class="event-header-subtitle">VR and real-time streaming experience</div>
        </div>
        <div class="event-header-main-img missing-out"></div>
      </div>
      <div class="event-header-bg-img missing-out"></div>
    </div>
    <div id="event-focus-bar" class="event-header-focus-bar">
      <div class="event-header-focus-bar-content w-container">
        <%= image_tag "calendar-icon.svg", alt: "calendar", class: "image-3" %>
        <div class="event-focus-bar-date">31 gennaio - 1 febbraio</div>
        <div class="div-block-43"></div>
        <div class="event-focus-bar-price">Gratuito</div>
      </div>
    </div>
  </header>
  <div class="page-postheader" id="main-content">
    <main class="event-article-container w-container">
      <aside id="w-node-d2e76c0777b8-919b68a1" class="event-article-details">
        <div class="event-aside-line"></div>
        <ul class="event-aside-list w-list-unstyled">
          <li class="event-aside-list-item">
            <div class="event-aside-list-label">Data e ora</div>
            <div class="event-aside-list-text">31 gennaio - 1 febbraio<br></div>
          </li>
          <li class="event-aside-list-item">
            <div class="event-aside-list-label">Prezzo</div>
            <div class="event-aside-list-text">Gratuito</div>
          </li>
          <li class="event-aside-list-item">
            <div class="event-aside-list-label">Luogo</div>
            <div class="event-aside-list-text">Via San Francesco da Paola 17<br>10123 Torino TO Italia</div>
          </li>
          <li class="event-aside-list-item">
            <div class="event-aside-list-label">Durata</div>
            <div class="event-aside-list-text">2 giorni</div>
          </li>
          <li class="event-aside-list-item">
            <div class="event-aside-list-label">N° posti</div>
            <div class="event-aside-list-text">Limitato</div>
          </li>
        </ul>
        <a data-w-id="fc471873-720f-cc09-a5c1-695dae3ac255" href="https://doodle.com/poll/fmqqt4bznmp5wdtt" target="_blank" class="btn-link-arrow event-aside w-inline-block">
          <div class="text-block-3">Registrati</div>
          <div class="arrow-right">
            <div style="width:0PX" class="div-block-8"></div>
            <div class="arrow-point-right">
              <div class="div-block-3"></div>
              <div class="div-block-3 arrow-point-lower"></div>
            </div>
          </div>
        </a>
      </aside>
      <article class="event-article-content">
        <div>Missing Out è uno studio che esplora, attraverso sistemi VR 360° e real-time streaming, la FoMO, Fear of Missing Out, la condizione sociale del sentirsi esclusi, “tagliati fuori”.<br>
Tecniche di embodied narrative e di disorientamento percettivo-sensoriale vengono messe in campo per dare all'utente-spettatore la possibilità, indossando un visore VR, di osservare da una nuova posizione, immersiva e coinvolgente.<br><br>
Missing Out è un'esperienza della durata di circa 10 minuti, per una persona alla volta.<br>
La prenotazione è obbligatoria al link: <a href="https://doodle.com/poll/fmqqt4bznmp5wdtt" target="_blank" class="text-link">https://doodle.com/poll/fmqqt4bznmp5wdtt</a><br>‍
<br>‍Il progetto nasce a Linz da un gruppo del Master Interface Culture per investigare la percezione spazio-temporale in ambienti VR e viene selezionato per Ars Electronica 2019.<br>
Nello stesso anno Vanessa Vozzo ne propone uno sviluppo con la piattaforma Officine Sintetiche e insieme a un gruppo di studenti e ricercatori del Politecnico e dell'Università di Torino includendo alcuni studi su embodied narrative, percezione spaziale, immersività.<br>
<br>
La media artist Vanessa Vozzo è docente di Documentario Interattivo alla Civica Scuola di Cinema di Milano. Insegna Interactive Media a Ingegneria del Cinema - Politecnico di Torino. Conduce project work con l'Università. È co-fondatrice di Officine Sintetiche con Tatiana Mazali e Antonio Pizzo.<br>
<a href="http://www.officinesintetiche.it/" target="_blank" class="text-link">www.officinesintetiche.it</a>
<br>
________________________________________________<br>
<br>
<strong>Credits</strong><br>
A cura di: Vanessa Vozzo<br>
Piattaforma: Officine Sintetiche<br>
<br>
Gruppo scrittura interattiva: Mya Arbues, Guido Artioli, Maria Luisa Favia, Alessia Gervasone, Lorenzo Paggi<br>
Performer: Chiara Vallini<br>
VR System, produzione e postproduzione video: Carlo Gioia (capotecnico), Giuseppe Bruno, Massimo Gismondi, Katia Grasso, Giulia Vilardo<br>
Consulenza tecnica: Francesco Strada, Enrique Valido Moure.<br>
Piattaforma: Officine Sintetiche<br>
<br>
Sostenuto da<br>
Fondazione CRT<br>
con<br>
Università degli Studi di Torino – Dipartimento Studi Umanistici Politecnico di Torino – Ingegneria del Cinema e dei Mezzi di Comunicazione<br>
Media partner: Torino Città del Cinema 2020<br>
      </article>
    </main>
  </div>
