<% if (1..3).include?(block.audio_provider) %>
  <% case block.audio_provider
        when 1
      %>
    <section class="article_soundcloud_container">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= block.soundcloud_link %>&color=%23E0354C&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false"></iframe>
    </section>
  <% when 2 %>
    <section class="article_soundcloud_container">
      <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FNTSRadio%2Fextinction-rebellion-w-brian-eno-this-is-not-a-drill-warp-30-23rd-june-2019%2F" frameborder="0" ></iframe>
    </section>
  <% when 3 %>
    <section class='embed-container'>
      <iframe src='https://embed.spotify.com/?uri=<%= block.soundcloud_link %>' frameborder='0' allowtransparency='true'></iframe>
    </section>
  <% end %>
<% end %>