<div class="section-a-5">
  <div data-w-id="2a2317fe-8174-c278-1e7e-1e04f2cce1cb" style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="container-4 w-container">
    <div class="text-block-5">
      <%= raw block.rich_text %>
    </div>
    <div class="form-block w-form">
      <form action="<%= block.form_action %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
        <input type="email" value="" name="EMAIL" class="email text-field w-input" id="mce-EMAIL" placeholder="Email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_921774d7b58b28e02d4b2bf62_392709ba11" tabindex="-1" value="">
        </div>
        <input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="submit-button w-button">
      </form>
      <div class="w-form-done">
        <div><strong>Grazie!</strong><br>Riceverai una email di conferma a breve!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Qualcosa non ha funzionato, riprova più tardi.</div>
      </div>
    </div>
  </div>
</div>