<section class="spazi-section">
  <div class="spazio-info-container">
    <% unless block.title.nil? %>
      <h2><%= raw block.title %></h2>
    <% end %>
    <% unless block.rich_text.nil? %>
      <div class="spazio-info-details">
        <%=raw block.rich_text %>
      </div>
    <% end %>
    <% unless block.richtext_secondary.nil? %>
      <div class="spazio-attrezzatura-tecnica">
        <%=raw block.richtext_secondary %>
      </div>
    <% end %>
  </div>
  <% unless block.image_url.blank? %>
    <%= cl_image_tag(block.image_url, :alt=> "#{block.image_description.empty? ? '' : block.image_description}", :class => "grid-img") %>
  <% end %>
</section>