<% if block.video_provider == 1 || block.video_provider == 2 %>
  <section class="blog_post_videos_container">
    <% case block.video_provider
      when 1
    %>
      <div style="padding:56.25% 0 0 0;position:relative;" class="post_video">
        <iframe src="https://player.vimeo.com/video/<%= block.video_link %>?title=0&byline=0&portrait=0" class="video-full-w" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
        </iframe>
      </div>
      <p class="post_video-description"><%= block.video_description unless block.video_description.empty? %></p>
    <% when 2 %>
      <div class="post_video yt">
        <iframe class="yt_video" width="560" height="315" src="https://www.youtube.com/embed/<%= block.video_link %>" frameborder="0" allowfullscreen>
        </iframe>
      </div>
      <p class="post_video-description"><%= block.video_description unless block.video_description.empty? %></p>
    <% end %>
  </section>
<% end %>