<% content_for :meta_title, "Il Circolo — About — Circolo del Design" %>
<% content_for :meta_description, "La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, progetti, opportunità professionali, aziende, designer, istituzioni" %>


<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Il Circolo", path: about_us_il_circolo_path, active: "btn-active-yellow"},
          {title: "Team", path: about_us_team_path, active: ""},
          {title: "Welcome on Board", path: about_us_welcome_on_board_path, active: ""},
          {title: "Sostenitori", path: about_us_sostenitori_path, active: ""}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <p>
        Il Circolo del Design alimenta e diffonde la cultura del progetto, contribuendo a rinforzare il sistema del design del territorio e favorendo le connessioni tra le competenze del progetto e il mondo produttivo, sociale e culturale.
        <br><br>
        Persegue la sua mission attraverso la programmazione di attività culturali e di formazione, lo sviluppo di opportunità professionali tra designer e aziende e la collaborazione con le istituzioni per la creazione di un sistema del design a servizio della comunità e del territorio.
        <br><br>
        Online e offline, ogni giorno progetta contenuti che sappiano ispirare e lo fa collaborando con professionisti, studenti e visionari appassionati e curiosi.
      </p>
    </article>
  </main>
</div>

