<% content_for :meta_title, "Il Circolo — About — Circolo del Design" %>
<% content_for :meta_description, "La mission del Circolo del Design è la diffusione della cultura del progetto e viene perseguita attraverso la produzione di attività culturali e di formazione." %>


<%= render 'shared/about-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Il Circolo", path: about_us_il_circolo_path, active: "btn-active-yellow"},
          {title: "Team", path: about_us_team_path, active: ""},
          {title: "Sostenitori", path: about_us_sostenitori_path, active: ""}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <p>
      Il Circolo del Design alimenta e diffonde la cultura del progetto.<br>
      Lo fa attraverso la produzione di attività culturali e di formazione, lo sviluppo di opportunità professionali tra aziende e designer e la collaborazione con le istituzioni per la creazione di sistemi propri del design a servizio del territorio.
      <br><br>
      Mostre, incontri e workshop costituiscono l’ossatura del palinsesto culturale del Circolo del Design, cui si affianca la Biblioteca del Design, che oggi conta oltre 800 volumi.
      </p>
      <div class="text-highlight">
        Al Circolo del Design le aziende incontrano i professionisti, i progettisti si confrontano e si danno appuntamento, i ricercatori e gli studenti consultano la biblioteca e trovano un luogo in cui studiare e lavorare.
      </div>
    </article>
  </main>
</div>

