<% content_for :meta_title, "Membership - Circolo del Design" %>
<% content_for :meta_description, "L’ingresso al Circolo del Design è riservato ai soci." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, membership, iscrizione, tessera, tesseramento, partecipare, annuale, sconto, soci, riservato, accesso" %>

<%= render 'shared/membership-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <h3 class="m-top-0"><strong>Quota di tesseramento:<br>€8,00<br><br/>
Under26:<br>€5,00</strong></h3>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <div class="cognito">
<script src="https://www.cognitoforms.com/s/_JzSZ5OAd0--T2rgeRpF_Q"></script>
<script>Cognito.load("forms", { id: "1" });</script>
</div>
      <!-- <p>I servizi inclusi con il tesseramento annuale:
<br><br/>
<br>/ WiFi gratuito
<br>/ riduzioni sugli eventi della programmazione culturale del Circolo del Design
<br>/ possibilità di utilizzo dell’area studio
<br>/ servizio di prestito dei libri della Biblioteca del Design
<br>/ 5% di sconto sul primo workshop
<br>/ 5% di sconto sul primo acquisto dello store NOS
<br><br/>
Per tesserarsi o per avere maggiori informazioni si prega di recarsi presso la nostra sede in orario di apertura o di contattarci <a href="mailto:info@circolodeldesign.it?subject=Membership:%20Nuova%20richiesta" target="_blank"><strong>qui</strong></a>.</p>
 -->    <!-- <script type="text/javascript" src="https://circolodeldesign.formstack.com/forms/js.php/tesseramento_2020"></script>
    <noscript>
      <a href="https://circolodeldesign.formstack.com/forms/tesseramento_2020" title="Online Form">Online Form - Tesseramento 2020</a>
    </noscript>
    <div style="text-align:right; font-size:x-small;">
      <a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,3930363" title="Powered by Formstack">Powered by Formstack</a>
    </div> -->
    </article>
    <div>
    <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSem-un1MlDqhzlKT0eJA0DUqRLTJK0-DVCvuIvZtQmnbjRGZg/viewform?embedded=true" width="640" height="1210" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe> -->
  </div>
  </main>
</div>

