<% content_for :meta_title, "Membership - Circolo del Design" %>
<% content_for :meta_description, "L’ingresso al Circolo del Design è riservato ai soci." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, membership, iscrizione, tessera, tesseramento, partecipare, annuale, sconto, soci, riservato, accesso" %>

<%= render 'shared/membership-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <h3 class="m-top-0"><strong>Quota di tesseramento:<br>€8,00<br><br/>
Under26:<br>€5,00</strong></h3>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <p>I servizi inclusi con il tesseramento annuale:
<br><br/>
<br>/ WiFi gratuito
<br>/ riduzioni sugli eventi della programmazione culturale del Circolo del Design
<br>/ possibilità di utilizzo dell’area studio
<br>/ servizio di prestito dei libri della Biblioteca del Design
<br>/ 5% di sconto sul primo workshop
<br>/ 5% di sconto sul primo acquisto dello store NOS
<br><br/>
Per tesserarsi o per avere maggiori informazioni si prega di recarsi presso la nostra sede in orario di apertura o di contattarci <a href="mailto:info@circolodeldesign.it?subject=Membership:%20Nuova%20richiesta" target="_blank"><strong>qui</strong></a>.</p>
    </article>
  </main>
</div>

