<% content_for :meta_title, "Spazi — Servizi — Circolo del Design" %>
<% content_for :meta_description, "Il Circolo del Design dà la possibilità di affittare alcuni dei suoi spazi per eventi." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, spazi, studiare, lavorare, co-working, tavoli, affittare" %>

<%= render 'shared/servizi-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Spazi", path: servizi_spazi_path, active: "btn-active-yellow"},
          {title: "Biblioteca", path: servizi_biblioteca_path, active: ""}
        ]%>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <% unless @page_blocks.empty? %>
        <% @page_blocks.each do |block| %>
          <%= render partial: "shared/content/#{block.kind}", locals: {block: block} unless !block.is_visible %>
        <% end %>
      <% end %>
    </article>
  </main>
</div>
