<% content_for :meta_title, "Contatti - Circolo del Design" %>
<% content_for :meta_description, "Il Circolo del Design è aperto al dialogo, pronto a recepire il tuo messaggio." %>

<header id="top" class="page-header-container">
  <div class="w-container large">
    <div class="breadcrumb-text">
      <%= link_to "Home", root_path %> /
    </div>
    <h1 class="page-header-title">Contatti</h1>
  </div>
</header>
<div class="full-w-img contacts-img parallax-bg">
  <%= image_tag "CircoloDelDesign_contacts.jpg", alt: "Circolo del Design", class: "contacts-prlx-img" %>
</div>
<div class="page-postheader">
  <main class="event-article-container w-container">
    <aside id="w-node-2d81cc58f9ee-c78ffa68" class="event-article-details"></aside>
    <article class="event-article-content big-content">
      <h2>Scrivici</h2>
      <p>Il Circolo del Design è aperto al dialogo, pronto a recepire il tuo messaggio.</p>
      <div class="contact-form" id="contact">
        <%= render 'shared/contact-form' %>
      </div>
    </article>
  </main>
</div>
<section class="contact-where">
  <div class="w-container large">
    <aside class="event-article-details">
      <p>
        <strong>Palazzo Costa Carrù della Trinità</strong><br>
        Via San Francesco Da Paola 17<br>
        10123 Torino TO Italia<br>
        <a href="mailto:info@circolodeldesign.it">info@circolodeldesign.it</a><br>
        <br />
        <strong>ORARI DI APERTURA</strong><br>
        Da Martedì a Sabato / 13.30 – 19
      </p>
    </aside>
    <article class="event-article-content big-content">
      <h2>DOVE TROVARCI</h2>
      <p>Nelle antiche scuderie di Palazzo Costa Carrù della Trinità, uno dei palazzi settecenteschi più vasti della città. Passate l’ingresso e ci trovate a sinistra.</p>
    </article>
  </div>
</section>
<section class="map-container parallax-bg">
  <div class="w-container large">
    <div class="map-info">
      <p>
        <strong>Autobus 18, 61, 68</strong> – Fermata Giolitti<br />
        <br/>
        <strong>ST2</strong> – Fermata Giolitti<br />
        <br/>
        <strong>Metro</strong> – Fermata Porta Nuova<br />
        <br/>
        <strong>Treno</strong> – Stazione Porta Nuova
      </p>
    </div>
  </div>

</section>
