<% content_for :meta_title, "Ask To Design — Circolo Del Design" %>
<% content_for :meta_description, "Ask to Design vuole alimentare la cultura del progetto nel mondo della produzione e promuovere l’incontro tra le realtà aziendali e i progettisti." %>
<% content_for :meta_keywords, "Circolo Del Design, Circolo, Torino, Design, Ask To Design, aziende, progetti, territorio, Camera di commercio di Torino, Politecnico di Torino" %>

<%= render 'shared/projects-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Introduzione", path: progetti_speciali_introduzione_path, active: ""},
          {title: "Ask To Design", path: progetti_speciali_ask_to_design_path, active: "btn-active-yellow progetti"},
          # {title: "Video Torino Creative City Unesco", path: progetti_speciali_video_torino_creative_city_unesco_path, active: ""},
          # {title: "Interaction 20", path: progetti_speciali_interaction_20_path, active: ""},
          {title: "Welcome to the Post-Analog Condition*", path: "/whats-on/WPAC", active: ""}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
      <%= image_tag "ask_to_design.gif", alt: "Ask To Design", class: "full-w-img m-bottom-50" %>
      <p>Ask to Design vuole alimentare la cultura del progetto nel mondo della produzione e promuovere l’incontro tra le realtà aziendali e i progettisti, aumentando la consapevolezza delle aziende rispetto al valore del design come strumento di sviluppo d’impresa e valorizzando la design community del territorio.
<br><br/>
Ask to Design è un progetto del <strong>Circolo del Design</strong> e di <a href="https://www.to.camcom.it/" target="_blank" alt="Camera di Commercio Industria Artigianato e agricoltura di Torino"><strong>Camera di commercio di Torino</strong></a> e si avvale della partnership scientifica del <a href="https://www.polito.it/" target="_blank" alt="Politecnico di Torino"><strong>Politecnico di Torino</strong></a>. Il 2019 dà l’avvio allʼedizione “zero” del progetto, ideato per diventare scalabile negli anni successivi.</p>
      <a href="http://www.asktodesign.it/" target="_blank" class="btn btn-link-arrow m-bottom-0 btn-active-yellow">
        <div class="text-block-3">Vai al sito</div>
        <div class="arrow-right">
          <div class="arrow-point-right">
            <div class="div-block-8"></div>
            <div class="div-block-3"></div>
            <div class="div-block-3 arrow-point-lower"></div>
          </div>
        </div>
      </a>
    </article>
  </main>
</div>

