<% content_for :meta_title, "Interaction 20 — Circolo Del Design" %>
<% content_for :meta_description, "Con il congresso biennale Interaction 20, realtà aziendali nazionali ed internazionali scoprono alcune tra le principali eccellenze piemontesi." %>

<%= render 'shared/projects-header' %>
<div class="page-postheader" id="main-content">
  <main class="event-article-container w-container large">
    <aside id="w-node-d2e76c0777b8-1ccbd48a" class="event-article-details">
      <div class="sticky">
        <div class="event-aside-line"></div>
        <% subMenu = [
          {title: "Introduzione", path: progetti_speciali_introduzione_path, active: ""},
          {title: "Ask To Design", path: progetti_speciali_ask_to_design_path, active: ""},
          {title: "Video Torino Creative City Unesco", path: progetti_speciali_video_torino_creative_city_unesco_path, active: ""},
          {title: "Interaction 20", path: progetti_speciali_interaction_20_path, active: "btn-active-yellow progetti"}
        ]
          %>
        <% subMenu.each do |s| %>
          <%= render partial: 'shared/sub-link', locals: {item: s} %>
        <% end %>
      </div>
    </aside>
    <article class="event-article-content line big-content">
        <%= image_tag "cdd_interaction20_torino.jpg", alt: "Interaction 20 Torino", class: "contacts-prlx-img" %>
      <p class="m-top-30">La <a href="https://www.to.camcom.it/" target="_blank" alt="Camera di Commercio Industria Artigianato e agricoltura di Torino"><strong>Camera di commercio di Torino</strong></a> e il <strong>Circolo del Design</strong> realizzano due pacchetti di tour all’interno della programmazione di Interaction 20, il congresso biennale organizzato dall’<a href="https://ixda.org/" target="_blank" alt="Interaction Design Association">Interaction Design Association</a> che approda per la prima volta in Italia.
<br><br/>
Realtà aziendali nazionali ed internazionali scoprono alcune tra le principali eccellenze piemontesi. Un’occasione per permettere ai partecipanti di intraprendere un tour conoscitivo ed esperienziale del territorio piemontese, comprendendo visite ad alcuni dei siti più rilevanti nel settore, presentazioni informali delle eccellenze nel campo del digital e dell’interaction design e momenti di “assaggio”, sotto forma di leisure experience, delle tipicità enogastronomiche.</p>
    </article>
  </main>
</div>

