<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Form contatti</h1>
    <br />
    <p>Nome: <%= @contact.nome %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Messaggio: <%= @contact.messaggio %></p>
  </body>
</html>