.devise-bg-container {
  position: absolute;
  margin: 0;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #FFED00;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
}

input[type=submit]  {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.devise-content-container {
  width: 90%;
  max-width: 400px;

  .form-inputs {
    padding: 20px 0;
  }

  .input {
    padding-top: 6px;
  }

  input {
    width: 100%;
  }

  .form-actions {
    padding-bottom: 20px;
  }

  a {
    color: #000;
    margin: 4px 0;
  }
}
