.event-card-container {
  width: 30.9%;
  margin: 10px 1%;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  color: #000;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  will-change: box-shadow, transform;
  text-decoration: none;

  &.special-projects-card {
    width: 23%;
  }

  &:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  &:hover .event-card-content-container {
    opacity: 1;
  }

  &:hover .event-card-title {
    text-decoration: underline;
  }

  &.featured-card {
    width: 100%;
    margin: 10px 0;

    .event-card-img-container {
      height: 130px;
    }

    // .event-card-content-container {
    //   padding: 12px;
    // }
  }
}

.event-card-img-container {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #e1354b;
}

.cart_img_container {
  position: relative;

  .event-card-category-label {
    bottom: 0;
  }
}

.event-card-container:first-child {
  .event-card-category-label {
    bottom: auto;
  }

  // .event-card-content-container {
  //   color: #fff !important;
  // }
}

.event-card-category-label {
  position: absolute;
  font-size: 12px;
  padding: 6px 12px;
  font-weight: bold;
  color: #fff;

  &.mostra {
    // background-color: #F49FC6;
    background-color: var(--cdd-orange);
  }

  &.talk {
    // background-color: #81539c;
    background-color: var(--cdd-orange);
  }

  &.workshop,
  &.performance,
  &.talk {
    // background-color: #2581c4;
    background-color: var(--cdd-orange);
  }

  &.progetti {
    // background-color: #e1354b;
    background-color: var(--cdd-blue);
  }

  &.evento {
    background-color: var(--cdd-orange);
  }
}

.event-card-content-container {
  padding: 20px;
  opacity: 0.8;

  p {
    margin: 0;
  }
}

.event-card-date-container {
  display: flex;
  align-items: center;
  padding-top: 8px;

  p {
    margin: 0 0 0 10px;
    padding: 0;
  }
}

.event-card-title {
  margin: 0;
}

.event-card-subtitle {
  padding-top: 10px;
}

.section-label-container {
  font-family: heimat-sans, sans-serif;
  padding: 6px 2px;
  border-bottom: 1px solid #000;
  font-weight: bold;
  font-size: 1.5rem;

  &.pink {
    background-color: #F49FC6;
  }
}

@media screen and (max-width: 991px) {
  .event-card-container, .event-card-container.special-projects-card {
    width: 47.5%;
  }
}

@media screen and (max-width: 479px) {
  .event-card-container, .event-card-container.special-projects-card {
    width: 100%;
    margin: 10px 0;
  }

  .event-card-content-container {
    padding: 12px;
    opacity: 1;
    line-height: 1.2rem;
  }
}
