.spazi-section {
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid #ddd;
}

.spazio-info-container {
  width: 100%;
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 1fr 0.75fr 1fr;
  padding-bottom: 30px;
}

.spazio-info-details {
  padding: 0;

  li {
    list-style: none;
    padding: 12px 0;
    border-top: 1px solid #ddd;
  }
  li:last-of-type {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
  }
}

.spazio-attrezzatura-tecnica {
  h4 {
    margin-top: 0;
  }
  ul {
    padding-left: 20px;
  }
}

.btn-wide {
  // padding: 20px 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.toggle-btn {
  cursor: pointer;
  position: relative;
}

.toggle-arrow {
  position: absolute;
  top: 50%;
  height: 16px;
  transform: translateY(-50%) rotate(0deg);
  right: 30px;

  &::after {
    position: absolute;
    content: "";
    left: -6px;
    width: 2px;
    height: 14px;
    background-color: #000;
    transform: rotate(45deg)
  }
  &::before {
    position: absolute;
    content: "";
    width: 2px;
    right:-6px;
    height: 14px;
    background-color: #000;
    transform: rotate(-45deg)
  }

  &.toggle-open {
    transform: translateY(-50%) rotate(180deg) !important;
  }
}

.toggle-content {
  display: none;

  &.toggle-content-open {
    display: block;
  }
}

.img-txt-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 50px;

  &.progetti-intro {
    background-image: linear-gradient(rgba(225, 53, 75, 0.8), rgba(225, 53, 75, 0.8)), asset-url('circolo-del-design_progetti-speciali_tjaarda.jpg');
  }
  strong {
    font-size: 40px;
    line-height: 120%;
    color: #fff;
  }
}

.video-full-w {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-top-30 {
  margin-top: 30px;
}
.m-top-80 {
  margin-top: 80px;
}
.m-bottom-0 {
  margin-bottom: 0 !important;
}
.m-bottom-50 {
  margin-bottom: 50px !important;
}

@media (max-width: 991px) {
  .spazi-section {
    padding: 30px 0;
  }
  .spazio-info-container {
    grid-template-columns: 1fr;
  }
}
