.grid-container {
  width: 100%;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-grid-container {
  width: 100%;
  padding: 50px 0;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 30px;
  text-align: center;

  h4 {
    text-align: left;
  }
}

.grid-2x {
  grid-template-columns: 1fr 1fr;
}
.grid-3x {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-img {
  width: 100%;
  height: auto;
}

.grid-logo {
  max-height: 100px;
  height: auto;
  width: auto;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

hr.mb {
  margin: 30px 0;
}

.team figcaption p {
  margin: 0;
}

figcaption {
  text-align: left;

  h3 {
    font-size: 20px;
    margin: 0;
  }

  p {
    font-size: 14px !important;
    opacity: 0.8;
  }
}

.team-member-img {
  width: 100%;
  height: auto;
  // background-color: #333;
}

hr.mb {
  margin-bottom: 30px;
}

a.team-member-container {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3x {
    grid-template-columns: 1fr 1fr;
  }
  // .team-member-img {
  //   height: 60vw;
  // }
}
@media (max-width: 767px) {
  .grid-2x {
    grid-template-columns: 1fr;
  }
}
