:root {
  --max-width-container: 1100px;
  --hero-text-color: #000;
  --cdd-yellow: #ffed00;
  --cdd-blue: #000;
  --cdd-black: #000;
  --cdd-orange: #fffbcc;
  --cdd-green: #ffed00;
  --cdd-aqua: #ffed00;
  --cdd-purple: #ffed00;
}

.bg-orange {
  background-color: var(--cdd-orange) !important;
  color: #000;
}
.bg-blue {
  background-color: var(--cdd-blue) !important;
  color: white;
}
.bg-green {
  background-color: var(--cdd-green);
  color: #000;
}
.bg-black {
  background-color: var(--cdd-black) !important;
  color: #fff !important;
}
