#header {
  background-color: #000 !important;
  background-image: none !important;
  color: #fff !important;
}

#header h1 {
  color: #fff !important;
}

#title_bar {
  background-image: none;
  background-color: #ffed00 !important;
  text-shadow: none !important;
  color: #000 !important;
  border: none !important;
  display: inline-flex;
  padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #000 !important;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb a:active {
  color: #000;
}

.image-preview {
  max-width: 250px;
  max-height: 250px;
}

.image-preview.sm {
  max-height: 100px;
}

#title_bar #titlebar_left,
#title_bar #titlebar_right {
  height: auto;
  vertical-align: none;
}

#title_bar #titlebar_left {
  box-sizing: content-box;
  flex: 1;
  }
#title_bar #titlebar_right {
  width: auto;
  display: inline-flex;
  align-items: center;
}
