#header {
  background-color: #000 !important;
  background-image: none !important;
  color: #fff !important;
}

#header h1 {
  color: #fff !important;
}

#header ul.tabs > li ul {
  background-color: #222;
}

.panel_contents a {
  margin: 4px 0 !important;
}

#title_bar {
  background-image: none;
  background-color: #ffed00 !important;
  text-shadow: none !important;
  color: #000 !important;
  border: none !important;
  display: inline-flex;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important;
}

table.index_table td.admin_tag {
  padding: 12px 0 0 0;
}

.admin_tag ul {
  padding: 0;
}

.admin_tag li {
  list-style: none;
  font-weight: bold;
  font-size: 0.6rem;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 2px 4px;
  border-radius: 20px;
  display: inline;
  margin-right: 4px;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb a:active {
  color: #000;
}

.image-preview {
  max-width: 250px;
  max-height: 250px;
}

.admin_lang_icon {
  max-width: 20px;
  max-height: 20px;
}

.image-preview.sm {
  max-height: 100px;
}

#title_bar #titlebar_left,
#title_bar #titlebar_right {
  height: auto;
  vertical-align: none;
}

#title_bar #titlebar_left {
  box-sizing: content-box;
  flex: 1;
}
#title_bar #titlebar_right {
  width: auto;
  display: inline-flex;
  align-items: center;
}

.panel_contents a {
  display: block;
  margin-top: 12px;
}

body.active_admin form .quill-editor .ql-editor {
  max-height: 200px;
}

body.active_admin form .quill-editor .ql-editor p {
  margin-bottom: 0;
}

form fieldset > ol > li fieldset.inputs ol,
#article > fieldset > ol,
div#post fieldset ol {
  float: left;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#article > fieldset > ol > li:nth-of-type(1) label {
  margin: 0.5em 0 0 100px;
}

form fieldset > ol > li p.inline-hints {
  margin: 0.5em 0 0 0;
}

form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(2)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(3)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(4)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(5)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(6)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(7)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(9)
  p.inline-hints,
form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(10)
  p.inline-hints {
  margin: 0.5em 0 0 0;
}

form
  fieldset.inputs
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input
  label {
  width: 100%;
}

#article fieldset ol > li input[type="text"],
#article fieldset ol > li div.quill-editor {
  width: calc(100% - 140px);
}

body.active_admin
  form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  .quill-editor {
  width: 100%;
}

body.active_admin
  form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(3)
  .quill-editor
  .ql-editor {
  min-height: 174px;
}

div#post fieldset ol li.input:nth-of-type(1),
div#post fieldset ol li.input:nth-of-type(2),
div#post fieldset ol li.input:nth-of-type(3) {
  grid-column-start: span 2;
}

#article fieldset > ol li.input:nth-of-type(5),
#article fieldset > ol li.input:nth-of-type(6),
#article fieldset > ol li.input:nth-of-type(7),
#article fieldset > ol li.input:nth-of-type(8),
div#post fieldset ol li.input:nth-of-type(4),
div#post fieldset ol li.input:nth-of-type(5),
div#post fieldset ol li.input:nth-of-type(6) {
  grid-column-start: span 6;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(1) {
  grid-column-start: span 4;
  background-color: #ffed00;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(2) {
  grid-column-start: span 2;
  background-color: #ffed00;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(2)
  p.inline-hints {
  margin: 25px 0 0 0;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input.has_many_delete {
  grid-column-start: span 5;
  background-color: #f1e5e6;
  border: none !important;
  box-shadow: inset -4px 0px 10px -10px #000;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(11),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(14) {
  grid-column-start: span 6;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(3) {
  grid-column-start: span 4;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(5),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(6),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(4),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(7),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(8),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(9),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(10),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(12) {
  grid-column-start: span 2;
}

/* {
  grid-column-start: span 3;
} */

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(13),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(14),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(15),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(16),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(17) {
  grid-column-start: span 1;
}

#article > fieldset > ol li.input:nth-of-type(4) label {
  width: 100%;
}
#article > fieldset > ol li.input:nth-of-type(4) p.inline-hints {
  margin: 0.5em 0 0 0;
}
#article > fieldset > ol li.input:nth-of-type(4) p.inline-errors {
  margin: 0.5em 0 0 0;
}

#article > fieldset > ol li.input:nth-of-type(1),
#article > fieldset > ol li.input:nth-of-type(2),
#article > fieldset > ol li.input:nth-of-type(3),
#article > fieldset > ol li.input:nth-of-type(4) {
  grid-column-start: span 3;
}

form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(2),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(4),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(7),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(10),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(11),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(16),
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(18) {
  box-shadow: inset -4px 0px 10px -10px #000;
}
form
  fieldset
  ol
  > li.has_many_container
  .has_many_fields
  ol
  li.input:nth-of-type(3) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

form fieldset ol > li.has_many_container .has_many_fields ol li.input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

form fieldset > ol > li.check_boxes fieldset ol {
  padding: 0 0 0 100px;
}

form fieldset > ol > li.boolean label {
  padding: 0;
  width: 100%;
}

form fieldset ol > li {
  /*padding: 10px 120px 10px 10px;*/
  padding: 20px 10px;
}

form fieldset ol > li.has_many_container .has_many_fields {
  padding: 0 90px 0 0;
  margin: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form .has_many_container .handle {
  padding: 100px 4px;
  border-radius: 6px;
  top: 50%;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  border: 1px solid #000 !important;
  right: 20px;
  width: auto !important;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    rgba(150, 137, 60, 0.1) 0%,
    rgba(150, 137, 60, 0) 50%,
    rgba(150, 137, 60, 0.1) 100%
  );
}

form .has_many_container .handle::before,
form .has_many_container .handle::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
form .has_many_container .handle::before {
  transform: rotate(45deg);
  top: 40px;
}
form .has_many_container .handle::after {
  transform: rotate(-135deg);
  bottom: 40px;
}
